<fieldset>
  <div class="form-card">
    <div class="row">
      <div class="col-12 col-sm-7">
        <h2 class="fs-title text-left">Account Information:</h2>
      </div>
      <div class="col-12 col-sm-5">
        <h2 class="steps text-right">Step 1 - 4</h2>
      </div>
    </div>
    <label class="fieldlabels">Username: *</label>
    <input type="text" name="uname" placeholder="UserName" />
    <label class="fieldlabels">Email: *</label>
    <input type="email" name="email" placeholder="Email" required/>
    <label class="fieldlabels">Password: *</label>
    <input type="password" name="pwd" placeholder="Password" />
    <label class="fieldlabels">Confirm Password: *</label>
    <input type="password" name="pwd2" placeholder="Confirm Password" />
  </div>
  <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
