{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="form-card">
        <br /><br />
        <h2 class="purple-text text-center">
          <strong>SUCCESS !</strong>
        </h2>
        <br />
        <div class="row justify-content-center">
          <div class="col-3">
            <img src="https://i.imgur.com/GwStPmg.png" class="fit-image" />
          </div>
        </div>
        <br /><br />
        <div class="row justify-content-center">
          <div class="col-7 text-center">
            <h5 class="purple-text text-center">
              You Have Successfully Applied
            </h5>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
