<fieldset>
  <div class="form-card">
    <div class="row">
      <div class="col-12 col-sm-7">
        <h2 class="fs-title text-left">School Information:</h2>
      </div>
      <div class="col-12 col-sm-5">
        <h2 class="steps text-right">Step 4 - 4</h2>
      </div>
    </div>
    <label class="fieldlabels">Name of School: *</label>
    <input type="text" name="school" placeholder="Name of School" />
    <label class="fieldlabels">Address of School: *</label>
    <input type="text" name="address" placeholder="Address of School" />
    <label class="fieldlabels">Academic Level of Student: *</label>
    <input type="text" name="level" placeholder="Academic Level of Student" />
    <label class="fieldlabels">Expected Year of Completion: *</label>
    <input
      type="date"
      name="year"
      placeholder="Expected Year of Completion"
    />
    <label class="fieldlabels">Reasons you deserve to be sponsored: *</label>
    <input type="text" name="reason" placeholder="Reasons you deserve to be sponsored" />
  </div>
  <input
    type="button"
    name="next"
    class="submit action-button"
    value="Submit"
  />
  <input
    type="button"
    name="previous"
    class="previous action-button-previous"
    value="Previous"
  />
</fieldset>
